.header__top {
  display: flex;
  align-items: center;
  padding: 7px;
}

.header__top img {
  margin-left: 30px;
  margin-right: auto;
}

.header__login,
.header__minicart {
  font-size: 14px;
  border: 0;
  cursor: pointer;
}

.header__login {
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  padding: 8px 20px;
  border-radius: 20px;
}

.header__login:hover {
  color: #772ce8;
}

.header__login i {
  margin-left: 13px;
  font-size: 14px;
}

.header__top button {
  margin: 0 10px;
}

.header__minicart {
  margin-right: 20px;
  background-color: transparent;
  color: #772ce8;
}

.header__minicart i {
  font-size: 25px;
}

.header__bottom{
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background-color: #772ce8;
}

.header__searchbar{
  display: flex;
  width: 100%;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  
}

.header__searchbar button{
  background-color: transparent;
  border: 0;
  color: #772ce8;
  font-size: 16px;

}

.header__searchbar input{
  width: 100%;
  border: 0;
}

.header__bottom__button{
  padding: 8px;
  width: 200px;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff ;
  margin-left: 8px;

font-size: 14px;
}

.header__bottom__button i{
  margin-right: 5px;
}
